# Core ML and data libraries
torch
accelerator
bitsandbytes
datasets
pandas
requests
numpy
scipy
sentencepiece
fastchat

# Install transformers directly from the main GitHub branch
-e git+https://github.com/huggingface/transformers.git#egg=transformers

